<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyang.demo.crawler.mapper.CrawlerInfoMapper">


    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into crawler_info(unique_key, scene, scene_desc, status) VALUE
            (#{uniqueKey}, #{scene}, #{sceneDesc}, #{status})
    </insert>

    <update id="updateStatusByUniqueKey">
        update crawler_info set status = #{status} where unique_key = #{uniqueKey};
    </update>

    <select id="findBySceneAndNotStatus" resultType="com.cqyang.demo.crawler.model.po.CrawlerInfo">
        select * from crawler_info where scene = #{scene} and status != #{status} and is_deleted = 0 limit 1
    </select>

    <select id="findAll" resultType="com.cqyang.demo.crawler.model.po.CrawlerInfo">
        select id, unique_key, scene, scene_desc, status from crawler_info where is_deleted = 0
    </select>

    <select id="findByUniqueKey" resultType="com.cqyang.demo.crawler.model.po.CrawlerInfo">
        select id, unique_key, scene, scene_desc, status from crawler_info where unique_key = #{uniqueKey} and is_deleted = 0
    </select>
</mapper>