<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} [line:%line] - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <Encoding>utf-8</Encoding>-->
<!--        <File>${logPath}/server.log</File>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <FileNamePattern>${logPath}/server.%d{yyyy-MM-dd}</FileNamePattern>-->
<!--            <maxHistory>5</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} [line:%line] - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->


<!--    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <Encoding>utf-8</Encoding>-->
<!--        <File>${logPath}/server.error</File>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <FileNamePattern>${logPath}/server.error.%d{yyyy-MM-dd}</FileNamePattern>-->
<!--            <maxHistory>5</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--    </appender>-->

    <logger name="log-trace" additivity="false" level="INFO">
        <appender-ref ref="stdout"/>
    </logger>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>

</configuration>